 <!-- sbis-poc/app/issues/1362 START-->
<ng-container *ngIf="exportDataSet != null && exportDataSet.length > 0">
    
            <span class="mr-2"><a class=" cursor" href="javascript:void(0)" (click)="downloadPdf()"><i class="fas"><img src="assets/image/pdf.svg" height="22" /></i></a></span>
                   
            <span><a class="cursor" href="javascript:void(0)" (click)="downloadExcel()"><i class="fas"><img src="assets/image/excel.svg" height="22" /></i></a>
        </span>
      
</ng-container>
 <!-- sbis-poc/app/issues/1362 END-->