
.block{
    pointer-events: none;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.or-position{
	position:absolute;
	top:20px;
	left:62%;
	font-weight:bold;
}

.age-value{
	width:30% !important;
}
/* .card.custom-bg-procedure-normal{
	border-top:2px solid #3eb9d4 !important;
	border-bottom:2px solid #3eb9d4 !important;
  }
  .card.custom-bg-procedure-normal label{
	color:#1b78bb;
	font-weight:400;
	} */
	.timeslot{
		padding: 2px 6px;
		border: 1px solid #665c5c;
		display: inline-block;
		border-radius: 5px;
	}
	.timeslot.active{
		background: #21c8a7;
		border: 1px solid #21c8a7;
		color: #fff;
	}

/* start switch classes  */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 19px;
    left: 6px;
    top: 3px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
      position: absolute;
      content: "";
      height: 17px;
      width: 17px;
      left: 1px;
      bottom: 1px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
  }
  
  input:checked + .slider {
    background-color:#21c8a7;/* #662d91;*/
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #21c8a7;/*//#662d91;*/
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 42px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  /* end of switch classes */