<div class="rating-width">
<span><i class="fas fa-heart rating-heart rating-inactive"></i><i class="fas fa-heart rating-heart rating-inactive"></i><i class="fas fa-heart rating-heart rating-inactive"></i><i class="fas fa-heart rating-heart rating-inactive"></i><i class="fas fa-heart rating-heart rating-inactive"></i></span>
<span id="rating-perc" class="rating-done" [ngStyle]="{ 'width': (rating/5)*100 + '%' }"><i class="fas fa-heart rating-heart rating-active"></i><i class="fas fa-heart rating-heart rating-active"></i><i class="fas fa-heart rating-heart rating-active"></i><i class="fas fa-heart rating-heart rating-active"></i><i class="fas fa-heart rating-heart rating-active"></i></span>
</div>
