<div class="col-12 privacy-terms">
<h2>TERMS AND CONDITIONS</h2>
  <div class="vertical-scroll">
    <h3>Introduction</h3>
	<p><b>Stellablue Interactive Services Pvt. Ltd.</b>, a company within the meaning of Companies Act
2013 and having its registered office at 41 Bosepukur Road, Flat 4B Kolkata, West Bengal,
700042 INDIA <b>(“Company”)</b> has developed the website www.medepal.com <b>(“Domain
Name”)</b> and a mobile application MEDePAL <b>(“Mobile Application”)</b>. The term <b>“Website”</b>
shall collectively mean the Domain Name and the Mobile Application. The Website is
maintained by the Company.</p>
	<p>The Agreement (defined below) is between You and the Company. For the purposes of this
Agreement, the term <b>“User(s)”</b> and wherever the context so requires, <b>“You”</b> or <b>“Your”</b> shall
mean any natural or legal person who has agreed to register with the Company and/or is using
the Website. The terms <b>“We”</b>, <b>“Us”</b> and <b>“Our”</b> shall mean the Company.

	</p>
	<p>
		The User’s use of the Website and related tools and services thereof, including but not limited to
viewing information, acting on such information and availing the Services (defined below)
provided by the Website is governed by and shall be subject to these terms and conditions
<b>(“Agreement”)</b>, the terms whereof are subject to change at any time without prior notice to
You. To make sure You are aware of any changes, please review this document and all the
documents referred to hereunder periodically. As long as You comply with this Agreement, You
are granted a personal, non-exclusive, non-transferable, limited privilege to enter and use the
Website.

	</p>
	<p>This Agreement sets forth the legally binding terms of Your use of the Website. By visiting the
Website and using the Services(defined below) provided by the Website, You confirm that You
are eighteen years or above and You are not debarred by any law to contract and You have read
and have agreed and accepted to be bound by the terms and conditions mentioned herein and
incorporated in any additional guidelines or rules applicable to particular services on the Website,
which shall be deemed to be a part of this Agreement and in the event of any conflict between
the terms of this Agreement and any aforesaid documents, the aforesaid documents shall prevail.
If any of the terms of this Agreement are not acceptable to You, please do not use the Website.
Your continued usage of the Website (including after any changes to this Agreement) constitutes
Your acceptance of this Agreement, together with all the amendments from time to time.</p>
	<h3>Scope of the Website</h3>
	<p>You acknowledge that the Website is an online facilitating platform that facilitates the online
requisition by the User for purchase of health related products and Services offered by the
Website and the Website&#39;s various registered Third-Parties (defined below). The term
<b>“Service(s)”</b> shall include collectively the services provided by the Third Party facilitated
through the Website and the services directly provided by the Website to You. The term <b>“Third
Party/Parties”</b> shall include but not restricted to third party retail pharmacies, third-party diagnostic centers, third party independent doctors/registered medical practitioners, third party
hospitals/clinics, third party advertisers or any other third party service providers registered on
the Website providing service through the Website. Your use of the Services provided by the
Website, including the sale and purchase of products and services, between the Third Party and
You, facilitated by the requisition placed by You on the Website shall be governed by the
Agreement. The Website is not and cannot be a party to or, control in any manner, any
transaction between You and the Third Parties.
</p>
<h3>Personal Information</h3>
<p>The privacy of Your information is governed by the privacy policy <b>(“Privacy Policy”)</b> available
at [Mention URL] and additional provisions in this Agreement. You confirm that You have also
read and have agreed and accepted to be bound by the terms and conditions incorporated in the
Privacy Policy, which shall be deemed to be a part of this Agreement.</p>
<h3>Basic Terms of Use</h3>
<p>Your use of the Services provided by the Website will be through a unique User account with a
password <b>(“User Account”)</b>, created on the Website by each User to identify such User. To
create a User Account, You are required to obtain registration in accordance with the procedure
established by the Company. During the registration process, You shall provide Your email
address, Your username, registered mobile number, age, gender and such other information as
required by the Company. All details that You provide will be governed by this Agreement and
the Privacy Policy.</p>

<p>In order to verify that You have entered an e-mail address that You operate, You authorize the
Company to send a verification e-mail. Your User Account will be active only after You verify
Your e-mail address and or Your phone number. You are responsible for the use of the Services
provided through the Website and for restricting access to Your electronic device and/or Your
computers on which this Website could be accessed <b>(“Device”)</b>, so as to prevent any
unauthorised usage of this Website. You shall be solely responsible for any activity on this
Website that occurs through Your User Account and shall not hold Us liable in this regard, for
any reason whatsoever.
</p>

<p>The Website uses temporary cookies to store certain data (that is not sensitive personal data or
information) that is used by the Company and the Website for the technical administration of
the Website, research and development, and for User administration. In the course of serving
advertisements or optimizing Services to You, the Company and the Website may allow
authorized Third Parties to place or recognize a unique cookie on Your browser. The Company
does not store personally identifiable information in the cookies.
</p>
<p>The Company reserves the right to restrict or refuse Your access and/or usage of the Website in
any manner, including but not restricted to termination of Your User Account without refund or
removal of the content associated with Your User Account, without providing You with any
reasons and without a prior notice.</p>

<p>You shall not access or use or assist any other person to access or use this Website for the
following purposes:</p>

<p>Any unauthorized use including without limitation any usage of the content provided on this
Website not in conformity with the rights granted with respect to the same, any usage that may
violate Third Party intellectual property rights and any usage that may violate the laws of privacy
for which You shall be solely responsible.

</p>

<ol>
<li> Transmitting material that encourages conduct that constitutes a criminal offence, results in civil
liability or otherwise breaches any relevant laws, regulations or code of practice;</li>
<li>Breaching any applicable laws</li>
<li>Hosting, displaying, uploading, modifying, publishing, transmitting, updating or sharing any
information that (i) belongs to another person and to which the User does not have any right to;
(ii) is grossly harmful, harassing, blasphemous defamatory, obscene, pornographic, paedophilic,
libellous, invasive of another&#39;s privacy, hateful, or racially, ethnically objectionable, disparaging,
relating or encouraging money laundering or gambling, or otherwise unlawful in any manner
whatever; (iii) harms minors in any way; (iv) infringes any patent, trademark, copyright or other
proprietary rights; (v) violates any law for the time being in force; (vi) deceives or misleads the
addressee about the origin of such messages or communicates any information which is grossly
offensive or menacing in nature; (vii) impersonate another person; (viii) contains software viruses
or any other computer code, files or programs designed to interrupt, destroy or limit the
functionality of any computer resource; (ix) threatens the unity, integrity, defence, security or
sovereignty of India, friendly relations with foreign states, or public order or causes incitement to
the commission of any cognisable offence or prevents investigation of any offence or is insulting
any other nation;</li>
<li> Using or attempting to use any engine, software, tool, agent or other Device or mechanism
(including without limitation browsers, spiders, robots, avatars or intelligent agents) to
manipulate the software on this Website or reverse engineer it by copying, modifying,
decompiling or dissembling; and/or</li>
<li>Gaining or attempting to gain unauthorized access to any part or feature of the Website or any
other systems or networks connected to the Website or to any server, computer, network, by
hacking or any other illegitimate means.</li>

</ol>

<h3>Use of Services and the Website</h3>
<p><b>Online Ordering of Pharmaceutical Goods</b> –You agree and acknowledge that the Website is
merely a market place that facilitates the purchase of medicines, prescription and non-
prescription drugs and other pharmaceutical and health and wellness products
<b>(“Pharmaceutical Goods”)</b> offered for sale by third party retail pharmacies
<b>(“Pharmacy/Pharmacies”)</b>. All items offered for sale on the Website, and the content made
available by the Pharmacies are third party products. The authenticity and genuineness of the
Pharmaceutical Goods made available by the Pharmacies through the Website shall be the sole
responsibility of the Pharmacies. The Company shall have no liability with respect to the
authenticity of the Pharmaceutical Goods being facilitated through the Website.Further, the Company does not take any representation or warranty as to legal title of the
Pharmaceutical Goods offered for sale by the Pharmacies on the Website. The right, title, claim
or interest in the products sold through the Website shall not vest with the Website and the
Website shall not have any obligations or liabilities in respect of any transactions on the Website.</p>

<p>The Company is not responsible for delays and non-performance by the Pharmacies for
purchase Pharmaceutical Goods. The Company is not responsible for the Pharmaceutical Goods
which are out of stock, back ordered or otherwise unavailable, but were shown as available on
the Website at the time of placement of order by You.</p>

<p><b>Prescription Drugs-</b> In order to purchase drugs that require a valid prescription, You are
required to purchase the product either through the generated E-Prescription or upload a
scanned copy of the valid prescription on the Website. The Pharmacies will verify the such
prescriptions and in case of any discrepancy observed by Pharmacies, the order will be cancelled.</p>

<p><b>Substitution of Prescribed Drugs-</b>You agree and acknowledge that the order for a substitute
of a prescription drug would only be processed if a registered medical practitioner as per the
applicable laws has himself/ herself permitted for any other equivalent generic drug to be
dispensed in place of the prescription drug in the prescription or if the prescription solely lists
salt names instead of a specific brand name.</p>

<p><b>Drugs Delivery-</b>The Pharmaceutical Goods shall be delivered either by the Company directly or
by Pharmacies through an independent contractor/personnel (“User Agent(s)”) hired for such
purpose. You agree and acknowledge that such User Agent engaged by the Pharmacies or the
Company, shall be User Agent for the delivery of the Pharmaceutical Goods from the concerned
Pharmacies to the address notified by You, with no additional obligation apart from standard
delivery obligations and duty of care.</p>

<p><b>Diagnostics Services</b> – You agree and acknowledge that the Website is merely a marketplace
and facilitates the Users to avail diagnostic test/ package facilities offered by various registered
third party diagnostic centers (“Diagnostic Centers”) through the Website. Further, the
Website shall in no event be responsible for the samples collected, tests conducted and reports
generated by the Diagnostic Centers. The Diagnostic Centers may hire User Agents, engaged by
the Diagnostic Centers, for collection of samples or for conduction of the relevant tests at Your
request, at the address notified by You. Notwithstanding anything to the contrary contained
herein, Diagnostic Centers alone shall be liable for Diagnostic Centers’ dealings and interaction
with the Users who avail the services of the Diagnostic Centers facilitated through the Website.
The Company does not guarantee or make any representation with respect to the correctness,
completeness or accuracy of the information or details provided by such Diagnostic Centers
through the Website. The Website shall have no liability or responsibility towards any wrong
information on the Website with regard to the Diagnostic Centers.</p>

<p><b>Search Facility for Doctors/Booking Appointment Facility/Online Medical Consultation
-</b> The term <b>“Doctor(s)”</b> shall mean any third party registered medical practitioner under the
applicable laws registered with the Website. In relation to Doctors, the Website provides services
including but not restricted to the following; i) search for Doctors by name, speciality,
geographical area, or any other criteria that may be developed and made available by the Website,
(ii) booking appointment facility that allows Users to book an appointment through the Website,
and (iii) online medical consultation service which facilitates the Users to directly consult with
the Doctors for the purpose of online medical consultation.</p>

<p><b>Search Facility for Doctors-</b> The Website facilitates the search for a Doctor by the User. The
listing of the Doctors on the Website for the aforesaid search will be based on automated
computation of the various factors including but not restricted to inputs made by the Users like
their comments and feedback. Such factors may change from time to time, in order to improve
the listing algorithm. The Website will also display relevant information regarding the profile of
the Doctors, such as their area of specialization, qualification, fees, address and visiting hours.
The Company takes reasonable efforts to ensure that such information is updated at frequent
intervals. However, the Company shall have no liability for the accuracy and the relevancy of the
details provided in relation to the Doctors. The results of any search You perform on the
Website for Doctors does not constitute as an endorsement of any such Doctor by the
Company. If You decide to engage with a Doctor to seek his/her services, You shall be doing so
at Your own risk.</p>

<p><b>Booking Appointment Facility-</b> The Website serves as a marketplace and facilitates the User
to book an appointment with respect to Doctors and hospitals/clinics. When You have booked
for an appointment, the Website will ensure that the Users are provided with a confirmed
appointment on the booking facility. However, the Website will not be liable if the appointment
is cancelled by the concerned Doctor or hospital/clinic, as the case may be, in case of
unavailability of the Doctor or any other reason thereof.</p>

<p><b>Online Medical Consultation-</b> The Website facilitates the User to seek online medical
consultation from Doctors via digital mode and/or telephonic mode provided by the Doctors
through the Website. You agree and acknowledge that, when You request for online medical
consultation the Company reserves the right to share the information provided by You with the
Doctor and store such information and/or Your conversation with the Doctor, in accordance
with our  Privacy Policy . You agree and acknowledge that the Doctors are independent
contractors and are not related to the Company but merely provides medical consultation to You
with Your consent. You agree that by the virtue of availing the service of online medical
consultation, You do not form a professional doctor-patient relationship with the concerned
Doctor. The Company in no event, shall be directly or vicariously liable for any advice or any
loss or injury arising out of the online medical consultation with the Doctors.</p>

<p>The Company does not recommend any specific Doctor, tests, products, opinions or other
information that may be mentioned in the Website. Reliance on any information provided on the Website is solely at Your own risk and responsibility. You shall call Your nearest registered
medical practitioner/hospital or any related helpline in case of any medical emergency.
The online medical consultation is not for use in medical emergencies or for critical health
conditions and the Company does not encourage You to avail the service of online medical
consultation in such situations which mandates a face-to-face consultation
The opinions, statements, consultation via digital mode or telephonic mode provided by the
Doctors through the Website shall not reflect the opinions of the Company. Further, the
information interpreted should not be relied upon as a substitute for sound professional medical
advice, evaluation or care from Your medical practitioner.</p>

<p><b>Health Records:</b> The Website provides the service of recording, storing and sharing (as and
when required with any User registered on the Website) of Your health related and other medical
records (“Health Records”). The Health Records stored by the Website includes but is not
restricted to the following: (i) Created by User: information and documents uploaded by You or
information generated during Your interaction with the Website (for example: uploading
prescription, history of medicine, diagnostic test orders placed, and appointments booked by
You) and (ii) Created by Doctor: Records generated when the User interacts with the Doctor,
(for example: prescription provided by Doctor and communication during online medical
consultation)</p>

<p>You agree and acknowledge that the Doctor created Health Records are the sole responsibility of
the Doctor and the Website does not validate the said information and makes no assurance with
respect to the accuracy of the same. The Health Records stored on a cloud database and You
have the option to view, share or download such Health Records. The Website uses
industry–level security and encryption to your Health Records. However, the Company does not
guarantee to prevent unauthorized access to Your User Account in case your User login
credentials are lost or otherwise compromised by You.</p>

<p>In case you want to delete your Health Records, you can do so by contacting our service support
team. However only Your account and any associated Health Records will be deleted, and Your
Health Records stored by Your Doctor will continue to be stored in their respective accounts.
The Company is not responsible or liable for any content, fact, medical deduction or the
language used in your Health Records whatsoever. Your Doctor is solely responsible and liable
for your Health Records and any information provided Us, including but not limited to the
content in them.</p>

<p>Notwithstanding anything to the contrary contained herein, the Company has the right to retract
Health Records without any prior notice if they are found to be shared incorrectly or
inadvertently. Further, You agree and acknowledge that the Company may need to access the
Health Records for cases such as any technical or operational issue of the User Account in access
or ownership of the records.</p>

<p><b>Reminders:</b> The Website provides the service of providing reminder alerts (“Reminders”) to
the Users at certain intervals. The Reminders provided by the Website is for activities including but not restricted to reminders with respect to medicines, as prescribed by Your Doctor during
the online consultation and/or per the e-prescription, availing of diagnostic tests at certain
intervals and such other health and wellness related alerts. You can customise and/or add any
additional health related alerts as provided by the Website. The Company takes no liability that
the Reminders provided are accurate and complete. In the event of any medicine reminders
provided by the Doctor, it is Your sole responsibility, to refer to your prescription before taking
any such medicines. The Website is not liable for delay, incorrectness or non-delivery of timely
reminders. In case you do not wish to receive the Reminders, the Website provides with you
with an option to switch off the Reminders.</p>

<p><b>Family</b>: The Website provides the facility to create a separate group <b>(“Group”)</b> on the Website
via their Account. You after the creation of such Group may invite your family/dependents to
join the Group. You along with Your family/dependent may access and conduct activities from
the Accounts of every individual in a Group. You agree and acknowledge You have consented
and authorised for the formation and the activities of such Group. You agree that it shall be your
sole responsibility to obtain prior consent of your family/dependents whose details are
stored/shared availing this service and shall have right to share, upload and publish any sensitive
personal information of your family/dependents. The Company assumes no responsibility for
any claim, dispute or liability arising in this regard, and you shall indemnify the Company and its
officers against any such claim or liability arising out of unauthorized use of such information.</p>
<p>The Services provided by the Website may change from time to time, at the sole discretion of the
Company.</p>

<h3>Price and Payments</h3>

<p>The registration on the Website by creation of User Account and the access to the information
provided on the Website is free of charge. Further, the services provided directly by the Website
including maintenance of Health Records, Family Health Records, service of Reminders and
providing health and wellness related information is also free of charge. The Company may
however, charge for the provision of special services like express delivery. Any such charge by
the Company will be informed to You before the availing of such service. You agree and
acknowledge that this no charge policy maybe amended anytime, at the discretion of the
Company.</p>

<p>In relation to purchase of Pharmaceutical Goods through Pharmacies, availing of diagnostic tests
through Diagnostic Centers or any other service provided by any of the Third Party through the
Website, You shall pay through an online payment facility as provided in the Website, or the
Company or the Third Party, as the case may be, may choose to use the services of collection
agents, duly appointed in this regard. You agree and acknowledge that You shall not hold the
Company responsible for any loss or damage caused to You during this process, due to any acts
or omission on the part of the respective Third Party or the collection agents or for any actions/
omissions which are beyond the control of the Company.</p>

<p>In relation to the service of online medical consultation via digital mode and/or telephonic
mode, You shall be required to pay through the online facility provided in the Website. In
relation to services provided with respect to booking of an appointment with respect to a Doctor
or a hospital/clinic, You shall be required to pay through an online facility provided in the
Website, or pursuant to the consultation process, the payment can be made in the offline mode
directly to the Doctor or at the concerned hospital/clinic.</p>

<p>The Company may charge You a subscription fee for any additional service it provides which
can be paid directly to the Company through the online payment facility provided in the Website
or through the offline mode, wherein it would be collected personally from You through a
collection agent appointed by the Company in this regard.</p>
<p>You agree and acknowledge that You are solely responsible for payment of all taxes, legal
compliances, statutory registrations and reporting. The Company is in no way responsible for
any of the taxes except for its own income tax. The Company is not responsible for any loss or
damage caused to You or any Third Party during the payment process as the Third Parties are
beyond the control of the Company. Further, the Company reserves the right to modify the fee
structure by providing for it in the Website and this shall be considered as valid and agreed
communication.</p>
<p>In order to process the payments, the Company might require details such as Your bank
account, credit card number and such other relevant details. All details that You provide in this
regard will be governed by the Privacy Policy.</p>

<h2>Return, Refund and Cancellation Policy:</h2>
<h3>Return and Refund Policy:</h3>
<p>The Company allows the Users to raise a return and/or refund request in case of an unlikely
situation. You may raise the request directly in the Website at http://www.medepal.com or by calling
the Company’s customer care at [Will provide] The Company, upon receiving Your return and/or
refund request shall verify the nature and authenticity of Your request. If the request is genuine,
the Company shall initiate the return and/or refund process only after receiving confirmation
from the concerned Third Party in respect of the contents of the product and/or Service relating
to that return and/or refund.</p>

<p>The Company reserves the right to refuse returns and/or refunds for certain products, as marked
in the respective product pages as &quot;<i>Note: This item cannot be returned for a refund or exchange</i>.&quot; 
The Company reserves the right to pursue necessary legal actions against You, in the event of
frivolous and unjustified complaints regarding the quality and content of the products and
Services, and You will be solely liable for all costs incurred by the Company in this regard. In case of valid refund, the same will be done by crediting to the bank account of the User. The
refund process shall be completed within 7 business days from the date of submission of the
request for refund.</p>

<h3>Cancellation:</h3>
<p>In relation to the facility of booking an appointment, once the appointment has been made and a
confirmation has been given to the User, the Company shall inform the Doctor or the
hospital/clinic, who in turn shall render the Services at the agreed time, location and mode opted
by the User at the time of booking of the appointment.</p>

<p>In an event cancellation of such booking is done by You 48 (forty eight) hours prior to the
appointment, the full amount paid by You for such booking is refunded. In an even the
cancellation is done within 24-48 hours prior to the appointment time the Company reserves the
right to deduct 40% (forty percent) of the amount received and refund the remaining amount to
You. No amount is refunded for any cancellation done within 24 hours prior to the appointment
time.</p>

<p>However, in certain circumstances, the User may request cancellation and refund request,
wherein, the Doctor becomes unavailable and the alternative Doctor who is arranged to consult
or the alternative hospital/clinic, as the case may be, cancels the appointment for any reason.
The Company in such scenarios, at its discretion shall permit a refund of the full or partial
amount. The decision of the Company shall be final in such cases.</p>

<h3>Offers, Promotions, Software and downloads</h3>	
<p>You agree and acknowledge that the Company and other Third Parties may occasionally
promote their goods or Services on the Website or through direct marketing initiatives. Such
promotional and marketing activities may be through calls, auto-dialled and/or pre-recorded
messages or calls to the mobile number and email address provided by You during the
registration process. We have no control over the promotional activities of any Third Party
service providers and We do not endorse the products or services they offer, or give You any
assurance of their quality or if they would be suitable for Your needs. You understand and agree
that the Company shall have no liability with respect to the authenticity of the goods and/or
Services being facilitated through the Website.</p>


<h3>Information on the Website</h3>	
<p>The Website provides content, text, data, graphics, images, information, suggestions, guidance,
and other material (“Information”) which may be provided by individuals in the medical
profession. The provision of such Information does not create a licensed medical
professional/patient relationship, between the Company and You and does not constitute an
opinion, medical advice, or diagnosis or treatment of any particular condition, but is only
provided to assist you with identifying appropriate medical care from qualified medical experts.You agree and acknowledge that, the Information that You obtain or receive from the Website is
for informational purposes only. You understand, agree and acknowledge that any incorrectness
or inconsistency in the Information provided, shall not be our responsibility and We shall not be
liable for the same. You are advised to verify, at Your own cost, the information pertaining
thereto before acting upon the same. In case of any medical emergency, You are to contact an
ambulance service or hospital directly.</p>

<h3>Suspension, Termination and Deactivation</h3>	
<p>You may at any time withdraw Your consent by deactivating/deleting Your User Account
within the Website by submitting a cancellation form that shall be provided to You on requesting
for the same, by an email to support@medepal.com. Upon the deletion/deactivation of Your User
Account, all data associated with Your User Account that is stored with the Company (excluding
the data that You have uploaded and shared with Third Parties) will be deleted by the Company
permanently. Refunds if any pending, shall be processed within 15 days after deducting the
amount due to the Company.</p>

<p>The Company reserves the right to remove or block any User without paying any refunds, at its
sole discretion, where any activity performed through the User Account causes or may cause or
may be deemed to be or constitute:</p>

<ul>
offensive, defamatory, vulgar, false or misleading to any person;
<li>violation of the rules and regulations that govern money changing activities and
money changers;</li>
<li>breach of this Agreement;</li>
<li>infringement of copyright or trademark or other intellectual property right of
another; and/or</li>
<li>reputation harm to the Company.</li>
</ul>

<p>The Company reserves the right to remove any User without paying any refunds, at its sole
discretion, upon receipt of any complaints from any Third Party registered with the Company.
On termination of the User Account due to the reasons mentioned above, the Company shall
not be liable to the User for the loss of any data or record kept on the Website by the User.</p>

<p>Without prejudice to the above, the Company reserves the right to initiate legal proceedings
against You for the fraudulent use of this Website or for any other unlawful act or omission in
breach of this Agreement.</p>

<h3>Intellectual Property</h3>

<p>You agree and confirm that:</p>
<p>All copyright, database right and all other proprietary rights, title and interest in all content
presented on this Website (including but not limited to the graphical images, text, video clips,
reprographics, sounds, demos, patches and other files) (“IP”) is owned by and/or licensed to the Company and/or Third Parties and is or may be protected or covered by copyright, trade mark,
intellectual property law and/or other proprietary rights, unless expressly stated otherwise.
No extracts of this Website or part thereof shall be displayed, printed or downloaded by You or
with Your assistance, for any reason, including without limitation to commercialise any IP in any
way.</p>

<p>Your use of the Services or this Website does not confer on You or any other party, any licence
or other rights under the intellectual property or other proprietary rights of the Company and/
or any Third Party, whether implied or otherwise.</p>

<p>The Company shall not be held liable for any claims relating to infringement of any intellectual
property rights in relation to the products and/or their content.</p>

<h3>Reviews, Feedback, Submissions</h3>
<p>All reviews, comments, feedback, suggestions, ideas, and other submissions disclosed, submitted
or offered to the Company on or through this Website, any blog, Facebook, Twitter or any other
such social media or networking platform or otherwise disclosed, submitted or offered in
connection with Your use of this Website (collectively, the “Comments”) shall be and remain
the property of the Company. Such disclosure, submission or offer of any Comments shall
constitute an assignment to the Company of all worldwide rights, titles and interests in all
copyrights and other intellectual property rights in the Comments. Thus, the Company owns all
such rights, titles and interests and shall not be limited in any way in its use, commercial or
otherwise, of any Comments. The Company shall be entitled to use, reproduce, disclose, modify,
adapt, create derivative works from, publish, display and distribute any Comments You submit
for any purpose whatsoever, without restriction and without compensating You in any way. The
Company is and shall be under no obligation: (1) to maintain any Comments in confidence; (2)
to pay You any compensation for any Comments; and/or (3) to respond to any Comments.</p>

<p>You agree that any Comments submitted by You to this Website, any blog, Facebook, Twitter or
any other such social media or networking platform or disclosed otherwise shall not violate this
policy or any right of any Third Party, including copyright, trademark, privacy or other personal
or proprietary right(s), and shall not cause injury to any person or entity, including the Company.
You further agree that no Comments submitted by You on the Website or on social networking
platforms, as aforesaid, shall be or contain libelous or otherwise unlawful, threatening, abusive or
obscene material, or contain software viruses, political campaigning, commercial solicitation,
chain letters, mass mailings or any form of “spam”. The Company may not regularly review
Your Comments, but does reserve the right (but not the obligation) to monitor and edit or
remove any Comments. You grant the Company the right to use the name that You submit in
connection with any Comments. You agree not to use a false e-mail address, impersonate any
person or entity, or otherwise mislead as to the origin of any Comments You submit, as
aforesaid. You are and shall remain solely responsible for the content of any Comments you
make and You agree to indemnify the Company for and against all claims resulting from any Comments You submit. The Company takes no responsibility and assumes no liability for any
Comments submitted by You or any Third Party.</p>

<h3>Objectionable Content</h3>
<p>The Company makes all endeavours to ensure that no objectionable content that is sexually
explicit or racist is placed in the Website. However, since it is difficult to monitor the placement
of such objectionable content, You will have an option to notify the Company of such content
and the Company will take reasonable steps to remove it, in its discretion. You agree to use this
Website and the Services at Your sole risk and that to the fullest extent permitted under
applicable law, You agree to waive, any legal or equitable rights or remedies You may have
against the Company against the Services or content on the Website that may be deemed
inaccurate, offensive, indecent, or objectionable to You.</p>

<h3>Limitation of Liability</h3>
<p>THE WEBSITE MAY BE UNDER CONSTANT UPGRADES, AND SOME FUNCTIONS AND FEATURES MAY NOT BE FULLY
OPERATIONAL.</p>

<p>DUE TO THE LIMITATIONS INHERENT IN PROVIDING INFORMATION OBTAINED FROM MULTIPLE SOURCES, THERE
MAY BE DELAYS, OMISSIONS, OR INACCURACIES IN THE CONTENT PROVIDED ON THE WEBSITE OR DELAY OR
ERRORS IN FUNCTIONALITY OF THE WEBSITE. AS A RESULT, WE DO NOT REPRESENT THAT THE INFORMATION
POSTED IS CORRECT IN EVERY CASE.</p>

<p>WE EXPRESSLY DISCLAIM ALL LIABILITIES THAT MAY ARISE AS A CONSEQUENCE OF ANY UNAUTHORIZED USE OF
CREDIT/ DEBIT CARDS OR OF ANY FINANCIAL INFORMATION PROVIDED BY YOU.</p>

<p>YOU ACKNOWLEDGE THAT THIRD PARTY SERVICES ARE AVAILABLE ON THE WEBSITE. WE MAY HAVE FORMED
PARTNERSHIPS OR ALLIANCES WITH SOME OF THESE THIRD PARTIES FROM TIME TO TIME IN ORDER TO FACILITATE
THE PROVISION OF CERTAIN SERVICES TO YOU. HOWEVER, YOU ACKNOWLEDGE AND AGREE THAT AT NO TIME ARE
WE MAKING ANY REPRESENTATION OR WARRANTY REGARDING ANY THIRD PARTY’S SERVICES NOR WILL WE BE
LIABLE TO YOU OR ANY THIRD PARTY FOR ANY CONSEQUENCES OR CLAIMS ARISING FROM OR IN CONNECTION
WITH SUCH THIRD PARTY INCLUDING, AND NOT LIMITED TO, ANY LIABILITY OR RESPONSIBILITY FOR, DEATH,
INJURY OR IMPAIRMENT EXPERIENCED BY YOU OR ANY THIRD PARTY. YOU HEREBY DISCLAIM AND WAIVE ANY
RIGHTS AND CLAIMS YOU MAY HAVE AGAINST US WITH RESPECT TO THIRD PARTY SERVICES.</p>

<p><b>WHILE THE MATERIAL PROVIDED ON THE WEBSITE WERE PREPARED TO PROVIDE ACCURATE</b>
INFORMATION REGARDING THE SUBJECT DISCUSSED, THE INFORMATION CONTAINED IN THESE MATERIALS IS
BEING MADE AVAILABLE WITH THE UNDERSTANDING THAT WE MAKE NO GUARANTEES, REPRESENTATIONS OR
WARRANTIES WHATSOEVER, WHETHER EXPRESSED OR IMPLIED, WITH RESPECT TO PROFESSIONAL QUALIFICATIONS,
EXPERTISE, QUALITY OF WORK OR OTHER INFORMATION HEREIN. NO INFORMATION CONTAINED IN THE WEBSITE
SHOULD BE CONSTRUED AS MEDICAL, COMMERCIAL, LEGAL OR OTHER PROFESSIONAL ADVICE. DETAILED
PROFESSIONAL ADVICE SHOULD BE OBTAINED BEFORE TAKING OR REFRAINING FROM ANY ACTION BASED ON ANY
OF THE INFORMATION OR MATERIAL CONTAINED IN THIS WEBSITE OR ANY COMMUNICATIONS PROVIDED TO YOU
AS A RESULT OF YOUR REGISTRATION. FURTHER, WE DO NOT, IN ANY WAY, ENDORSE ANY SERVICE OFFERED OR
DESCRIBED HEREIN. IN NO EVENT SHALL WE BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DECISION MADE OR
ACTION TAKEN IN RELIANCE ON SUCH INFORMATION.</p>

<p>THE INFORMATION PROVIDED HEREUNDER IS PROVIDED “AS IS”. WE MAKE NO WARRANTY OR REPRESENTATION
REGARDING THE TIMELINESS, CONTENT, SEQUENCE, ACCURACY, EFFECTIVENESS OR COMPLETENESS OF ANY
INFORMATION OR DATA FURNISHED HEREUNDER OR THAT THE INFORMATION OR DATA PROVIDED HEREUNDER
MAY BE RELIED UPON. MULTIPLE RESPONSES MAY USUALLY BE MADE AVAILABLE FROM DIFFERENT SOURCES AND IT IS LEFT TO THE JUDGMENT OF USERS BASED ON THEIR SPECIFIC CIRCUMSTANCES TO USE, ADAPT, MODIFY OR ALTER
SUGGESTIONS OR USE THEM IN CONJUNCTION WITH ANY OTHER SOURCES THEY MAY HAVE, THEREBY ABSOLVING
US AS WELL</p>

<p>WE SHALL NOT BE LIABLE TO YOU OR ANYONE ELSE FOR ANY LOSSES OR INJURY ARISING OUT OF OR RELATING TO
THE INFORMATION PROVIDED ON THE WEBSITE. IN NO EVENT WILL WE OR OUR LICENSORS OR ANY OF THEIR
OFFICERS, DIRECTORS, EMPLOYEES, AGENTS OR SUB-CONTRACTORS OR AFFILIATES (“REPRESENTATIVES”), THIRD
PARTY SERVICE PROVIDERS BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DECISION MADE OR ACTION TAKEN
BY YOUR RELIANCE ON THE CONTENT CONTAINED HEREIN.</p>

<p>IN NO EVENT SHALL THE COMPANY OR ITS REPRESENTATIVES BE LIABLE FOR ANY CONSEQUENTIAL, INCIDENTAL,
DIRECT, INDIRECT, SPECIAL, PUNITIVE, OR OTHER DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION,
DAMAGES FOR LOSS OF BUSINESS PROFITS, LOSS OF REPUTATION, BUSINESS INTERRUPTION, LOSS OF BUSINESS
INFORMATION, OR OTHER PECUNIARY LOSS) ARISING OUT OF THE AGREEMENT, WEBSITE, SERVICES OR CONTENT
OR THE USE OF OR INABILITY TO USE ANY SERVICE OR CONTENT ON THE WEBSITE, EVEN IF THE COMPANY HAS
BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>

<h3>Indemnity</h3>
<p>You hereby agree to indemnify and hold the Company, its agents, contractors, members,
subsidiaries, affiliates, service providers, syndicators, distributors, licensors, officers, directors,
employees, successors-in-interest and assigns harmless from and against any and all claims,
liabilities, damages, losses, costs and expenses, including attorney’s fees, caused by or arising out
of claims based upon Your actions or inactions including the breach of any of the terms and
conditions set out herein, which may result in (i) any loss or liability to the Company or any
Third Party; (ii) misuse of the Device or of any third person for accessing the Website and
services; or (iii) arising out of Your violation of any applicable laws and regulations, including but
not limited to infringement of intellectual property rights, non-payment of statutory dues and
taxes, claims of libel or defamation, violation of rights of privacy or publicity, delay,
misrepresentation, negligence, default, omission to act or misinformation or loss. You agree to
provide the Company with notice of any such claims as detailed in this provision and agree that
the Company shall have full authority to defend, compromise or settle such claims. You will
provide cooperation and assistance necessary to defend such claims, at Your sole expense. This
provision shall survive the termination of this Agreement.</p>

<h3>Modification</h3>
<p>We may at any time modify and/or amend the terms of this Agreement without any prior
notification to You. In the event of any such modification of or amendment to the Agreement,
the latest revised version of the Agreement shall be provided in the Website and shall become
effective from the time of posting. You must regularly review this Agreement and in the event
the modified or amended terms and conditions of the Agreement are not acceptable to You,
You should discontinue using the Website and any other services offered on and/or through this
Website. Your continued use of the Website will constitute Your acceptance of the latest revised
Agreement. Additionally, the Company reserves the right to withdraw, without prior notice to
You, access to the Website and Services thereof and to change, modify, revise the Website at any
time.</p>

<h3>Governing Law</h3>
<p>Any dispute arising out of the Agreement, the Website or the Services shall be governed by the
laws of India and the courts at Kolkata, India shall have exclusive jurisdiction with respect
thereto.</p>

<h3>General</h3>
<p>No failure or delay in enforcing any provision, exercising any option or requiring performance,
shall be construed to be a waiver of that or any other right in connection with this Agreement.</p>

<p>If any provision of the Agreement is invalid or unenforceable under applicable law, it is, to that
extent, deemed omitted and the remaining provisions will continue in full force and effect. The
Agreement will bind and inure to the benefit of Your permitted successors and assigns.</p>

<p>This Agreement (including all documents expressly incorporated herein by reference) constitutes
the complete and exclusive agreement between the Company and You, with respect to the
subject matter hereof and supersedes all prior oral or written understandings, communications or
agreements not specifically incorporated herein.</p>

<p>The Agreement is subject to prevailing laws and legal process, and nothing contained in this
Agreement is in derogation of the Company’s right to comply with statutory requests or
requirements relating to Your use of the Services or information provided to or gathered by the
Company with respect to such use.</p>

<p>Use of the Website is unauthorized in any jurisdiction that does not give effect to all provisions
of this Agreement.</p>

<p>It is agreed that the rights herein are non-transferable. You shall therefore not assign or transfer
any of Your rights under this Agreement, unless otherwise expressly permitted and any attempt
by You to do so shall be void-ab-initio and not enforceable.</p>

<h3>Contact the Grievance Officer</h3>

<p>In compliance with the Information Technology Act, 2000 and the rules made thereunder, You
may address Your grievances with respect to the processing of Your information to the
Grievance Officer whose contact details are as below:</p>

<p>Name : Santojit Ghosh<br>
Phone : +91 9831192730 <br>
Email : grievance@medepal.com</p>

</div>
</div>
