<section class="pageMainContin">
  <div class="content">
    <div class="row page-content">
      <div class="col-lg-12">
        <form [formGroup]="refineDoctorForm" (ngSubmit)="refineDoctorList()">
          <div class="row">
            <div class="w-10 pr-0 pl-3 sml filter-panel-width" [ngClass]="panelVisible ? 'panelVisible' : 'panelNotVisible'">
              <div class="card">
                <div class="filterPanel">
                  <div class="row border-bottom">
                    <div class="col-8">
                      <h4 class="search-result-left-pen-heading">{{ 'PHARMACY_REQUISITION.REFINE_BY' | translate }}</h4>
                    </div>
                    <div class="col-4 text-right link-pos-adj">
                      <a href="javascript:void(0);" (click)="resetAll()">{{ 'COMMON.RESET_ALL_BUTTON' | translate }}</a>
                    </div>
                  </div>
                  <div class="row overflow-auto scrollarea">
                    <div class="col-12">

                      <div class="form-group">
                        <label class="page-header">Year of Registration </label>
                        <input type="text" formControlName="yearOfRegistration" class="form-control" maxlength="4" numbersOnly>
                      </div>

                      <div class="form-group">
                        <label class="page-header">Doctor</label>
                        <input type="text" formControlName="doctorName" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group text-right border-top pt-2">
                  <button type="submit" class="btn btn-primary btn-sm">{{ 'COMMON.SEARCH_BUTTON' | translate }}</button>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <div class="row header cardHeader  pl-0 pr-0 pt-0">
                  <div class="col-10">
                    <div>
                      <h1>{{title}}</h1>
                    </div>
                  </div>
                  <div class="col-2 text-right">
                    <div class="filterBtn mr-4 cursor" (click)="refinePanelDisplay()">Filters</div>
                  </div>
                </div>
                <div class="content table-responsive search-result">
                  <p-table [value]="doctorList" [paginator]="doctorList.length > 10" [rows]=10>
                    <ng-template pTemplate="header">
                      <tr *ngIf="doctorList.length > 0">
                        <th width="20%">Doctor</th>
                        <th width="20%">Reg. No.</th>
                        <th width="60%">Reference Artifact</th>

                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-q let-i="rowIndex">
                      <tr>
                        <ng-container>
                          <td width="20%">
                            <p>
                              <strong>{{q.doctorName}}</strong></p>
                            <p *ngIf="q.mobileNo!=null">
                              <img _ngcontent-c2="" height="12px" src="../../../../../assets/image/phone.svg"> {{q.mobileNo}}
                            </p>
                            <p *ngIf="q.emailId!=null">
                              <img _ngcontent-c2="" height="12px" src="../../../../../assets/image/info-ico.svg"> {{q.emailId}}
                            </p>

                          </td>
                          <td width="20%">
                            <strong>
                              {{q.registrationNo}}
                              <span *ngIf="q.registrationNo!='' && q.yearOfRegistration!=null"> of {{q.yearOfRegistration}}</span>
                            </strong>
                          </td>

                          <td width="60%">
                            <app-verify-form [index]="i" [docInfo]="q" (emitResponse)="getResponse($event)"></app-verify-form>
                            <!-- <input type="text" placeholder="Please comment if reject" #reason>
                              <span *ngIf="reasonMnd[i]" class="validation-error">Comment is mandatory</span> -->
                          </td>
                          <!-- <td>
                              <button type="button" class="btn-primary btn-sm mr-2" (click)="verifyRegistration(reason.value, i)">Verify</button>
                              <button type="button" class="btn-primary btn-sm" (click)="rejectRegistration(reason.value, i)">Reject</button>
                            </td> -->
                        </ng-container>
                      </tr>
                    </ng-template>
                  </p-table>
                  <div class="text-center text-info" *ngIf="doctorList.length == 0">Sorry, no records found matching your search conditions</div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>